# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.venv
venv/

#Code design
.vscode/

#GT App Specific
Snippings.txt
Logs/
Data/
*.conf
*.lnk
gen_test*.py
test-*
